@{
    ViewBag.Title = "SqlServer 数据库";
    Layout = "~/Views/Shared/Templet.cshtml";
}

<script>
    var executesql = function (type) {
        var content = document.getElementById("coontent").value;
        if (content == null || content == "") {
            apliualert("请输入需要执行的Sql");
            return;
        }
        $(".qrcodebutton").attr("background", "#b8b8b8");
        var apiurl = "/api/toolapi/ExecuteSql?Sql=" + content + "&Type=" + type;
        $.when(ApliuCommon.HttpSend(apiurl)).then(function (data) {
            $("#executesqlresult").val(data);
            $(".qrcodebutton").attr("background", "#ff463c");
        }, function (error) {
            $("#executesqlresult").val(error);
            $(".qrcodebutton").attr("background", "#ff463c");
        });
    }
</script>

<div style="padding: 10px; background-color: white;">
    <div style="margin-top: 30px;">
        <span class="Biaoqian">功能介绍</span><br />
        <div style="padding-left: 1rem; font-size: 0.7rem;">
            a. Sql 语句<br />
            b. 更新则返回是否成功以及更新条数<br />
            c. 查询则返回查询结果<br />
            d. 一次仅返回一个DataTable<br />
        </div>
    </div>
    <div style="margin-top: 30px;">
        <span class="Biaoqian">演示Demo</span><br />
        <div style="margin-top: 10px; text-align: center;">
            <textarea id="coontent" class="qrcodecontentinput" placeholder="请输入Sql 语句"></textarea>
            <input onclick="executesql('Get')" class="qrcodebutton" type="button" value="执行Sql-Get" />
            <input onclick="executesql('Post')" class="qrcodebutton" type="button" value="执行Sql-Post" />
        </div>
        <div style="text-align: center; margin-top: 20px;">
            <textarea id="executesqlresult" class="qrcodecontentinput" style="font-size: 0.5rem; height: 8rem;" placeholder="执行结果"></textarea>
        </div>
    </div>
</div>
