<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--网站域名-->
  <Domain>http://web.apliu.xyz/</Domain>
  <!--数据库类型
        SqlServer = 0,
        Oracle = 1,
        MySql = 2,
        Access = 3-->
  <DatabaseType>0-SqlServerPathLocalhost</DatabaseType>
  <!--数据库链接字符串 SQL Server-->
  <SqlServerPathLocalhost>Data Source=localhost;Initial Catalog=ApliuWeb;Integrated Security=False;User ID=sa;Password=sa;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False</SqlServerPathLocalhost>
  <SqlServerPath>Data Source=172_21_0_8\SQLEXPRESS;Initial Catalog=ApliuWeb;Integrated Security=False;User ID=sa;Password=apliu@2018;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False</SqlServerPath>

  <appSettings>
    <add key="AppId" value="1256268361" />
    <add key="SecretId" value="AKIDaWTM2f1QdGW5bxzXDQCspcRD6rcI9CNj" />
    <add key="SecretKey" value="OCrOkxjSMCsU5mMm6HHB32qLl3A6xknl" />
    <!--SDK AppID是短信应用的唯一标识，调用短信API接口时需要提供该参数-->
    <add key="SMSAppId" value="1400075540" />
    <!--用来校验短信发送请求合法性的密码，与SDK AppID对应-->
    <add key="SMSAppKey" value="b0a0f4466492c96fcd3d1d334cc01749" />
  </appSettings>
</configuration>
