<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="charset" content="utf-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, width=device-width">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="application-name" content="">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="version" content="ddtouch">
    <meta http-equiv="Cache-Control" content="must-revalidate,no-cache">
    <title>Nb102zz</title>
    <script>
        function reinitIframe() {
            var iframe = document.getElementById("urlIframe");
            try {
                var bHeight = iframe.contentWindow.document.body.scrollHeight;
                /* 
                var dHeight = iframe.contentWindow.document.documentElement.scrollHeight;
                var height = Math.max(bHeight, dHeight); 
                iframe.height = height; */
                iframe.height = bHeight;
            }
            catch (ex) { }
        }
    </script>
</head>
<body style="width:100%;height:1000px;">
    <iframe marginwidth="0" src=" " marginheight="0" width="100%" name="i" id="urlIframe" frameborder="0" scrolling="no" src="http://www.clashofstats.com/clans/nb102zz-P2Q9999U/members" onload="reinitIframe()" >
</iframe>
    <iframe frameborder="0" marginheight="0" marginwidth="0" style="width:100%;height:100px;" src="http://www.clashofstats.com/clans/nb102zz-P2Q9999U/members"></iframe>
     <iframe frameborder="0" marginheight="0" marginwidth="0" style="width:100%;height:100px;" src="http://www.baidu.com"></iframe>
</body>
</html>


